<!DOCTYPE html>
<html lang="en">

<head>
	<title>Blessing fitness and travel</title>
	<!-- META TAGS -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- FAV ICON(BROWSER TAB ICON) -->
	<!-- <link rel="shortcut icon" href="images/fav.ico" type="image/x-icon"> -->
	<!-- GOOGLE FONT -->
	<link href="https://fonts.googleapis.com/css?family=Poppins%7CQuicksand:500,700" rel="stylesheet">
	<!-- FONTAWESOME ICONS -->
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<!-- ALL CSS FILES -->
	<link href="css/materialize.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/bootstrap.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="assets/css/responsive.css" />

	<!-- RESPONSIVE.CSS ONLY FOR MOBILE AND TABLET VIEWS -->
	<link href="css/responsive.css" rel="stylesheet">
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
</head>

<body data-ng-app="">
	<!--MOBILE MENU-->
	<section>
		<div class="mm">
			<div class="mm-inn">
				<div class="mm-logo">
					<a href="../index.html"><img src="../assets/images/logo3.png" alt="">
					</a>
				</div>
				<div class="mm-icon"><span><i class="fa fa-bars show-menu" aria-hidden="true"></i></span>
				</div>
				<div class="mm-menu">
					<div class="mm-close"><span><i class="fa fa-times hide-menu" aria-hidden="true"></i></span>
					</div>
					<ul>
						<li><a href="index.html">Home</a>
						<li><a href="../About.html">About</a>
						</li>
						<li><a href="../Adventures.html">Travel and Tours</a>
						</li>
						<li><a href="../Fitness.html">Fitness</a>
						</li>	
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!--HEADER SECTION-->
	<section>
		<!--TOP SECTION-->
		<div class="menu-section">
			<nav class="navbar navbar-default">
			<div class="container">
				<div class="row">
					<div class="top-bar">
						<ul class="nav navbar-nav pull-right">
							<li><a href="../About.html">About</a></li>
							<li><a href="../booking/booking2.html">Booking</a></li>
							<li><a href="../Adventures.html">Travel and Tours</a></li>
							<li><a href="../Fitness.html">Fitness</a></li>
							<li><a href="https://wa.link/2fyjg5"><i class="fa fa-whatsapp"></i></a></li>
							<li><a href="https://www.instagram.com/total.blessing/?hl=en"><i class="fa fa-instagram"></i></a></li>
							<li><a href="https://www.facebook.com/muteroblessing/"><i class="fa fa-facebook"></i></a></li>
							<li><a href="https://www.youtube.com/@total.blessing"><i class="fa fa-youtube"></i></a></li>

						</ul>
					</div>
					
					<div class="all-drop-down">

				
						<div id='drop-page' class='dropdown-content drop-con-man drop-full'>
							<div class="mm-1">
								<h4>Pages</h4>
								<ul>~
									<li><a href="About.html">About</a></li>
									<li><a href="Adventures.html">Travel and Tours</a></li>
									<li><a href="booking/booking2.html">Booking</a></li>
									<li><a href="Fitness.html">Fitness</a></li>
								</ul>
							</div>
											<div class="logo">
						<a href="../index.html"><img src="../assets/images/logo3.png" alt="total blessing fitness and tours logo" />
						</a>
					</div>
					
					</div>
				</div>
				<div class="row">
					<div class="logo">
						<a href="../index.html"><img src="../assets/images/logo3.png" alt="" />
						</a>
					</div>
					<div class="menu-bar">
					
					</div>
				
				</div>
			</nav>
			</div>
		</div>
		<!--TOP SECTION-->
		<!--TOP BANNER-->
		<div class="inn-banner">
			<div class="container">
				<div class="row">
					<h4>ALL SERVICES</h4>
					<p>YOU ARE ALWAYS DECISION AWAY FROM LIVING A TOTAL DIFFERENT LIFE
					</p>
							
				</div>
			</div>
		</div>
		<!--TOP SECTION-->
		<div class="inn-body-section pad-bot-55">
			<div class="container">
				<div class="row">
					<div class="page-head">
						<h2>Service Types</h2>
						<div class="head-title">
							<div class="hl-1"></div>
							<div class="hl-2"></div>
							<div class="hl-3"></div>
						</div>
						<p>Get going with your fitness and adventures</p>
					</div>
					<div class="room">
						<div class="ribbon ribbon-top-left"><span>Featured</span>
						</div>
						<div class="r1 r-com"><img src="../assets/images/bessingBlac.png" alt="" />
						</div>
						<!--ROOM RATING-->
						<div class="r2 r-com">
							<div class="r2-ratt"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <img src="images/h-trip.png" alt="" /> <span>Excellent  4.5 / 5</span> </div>
							<ul>
								<li>Monthly subcription fee : R1000pm</li>
								
								<li></li>
								<li></li>
							</ul>
						</div>
						<!--ROOM AMINITIES-->
						<div class="r3 r-com">
							<ul>
								<li>Student Fee : R850pm</li>
							</ul>
						</div>
						<!-- ROOM PRICE -->
						<div class="r4 r-com">
							<p>Drop in fee :</p>
							<p><span class="room-price-1">R150</span> <span class="room-price">R200</span>
							</p>
						</div>
						<!--ROOM BOOKING BUTTON-->
						<div id="authorize-button" class="r5 r-com">
							<div class="r2-available">Available</div>
							<p>Sign up</p> <button onclick="handleAuthClick()" class="authorize-button">Book with google  </button> </div>
					</div>

					

					</div>
					<!--END ROOM SECTION-->
					<!--ROOM SECTION-->
					<div class="room">
						<div class="ribbon ribbon-top-left"><span>Featured</span>
						</div>
						<!--ROOM IMAGE-->
						<div class="r1 r-com"><img src="../assets/images/double-resize.jpg" alt="" />
						</div>
						<!--ROOM RATING-->
						<div class="r2 r-com">
							<div class="r2-ratt"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <img src="images/h-trip.png" alt="" /> <span>Excellent  4.6 / 5</span> </div>
							<h4>Special Offer</h4>
						</div>
						<!--ROOM AMINITIES-->
						<div class="r3 r-com">
						</div>
						<!--ROOM PRICE-->
						<div class="r4 r-com">
							<p>1 month membership for group classes(unlimitted) + 5 private lessons</p>
							<p><span class="room-price-1">R2750pm</span> <span class="room-price"></span>
							</p>
						</div>
						<!--ROOM BOOKING BUTTON-->
						<div class="r5 r-com">
							<div class="r2-available">Available</div>
							<p>Sign up</p> <button onclick="handleAuthClick()" class="authorize-button">Book with google</button> </div>
					</div>
					<!--END ROOM SECTION-->
					<!--ROOM SECTION-->
					<div class="room">
						<div class="ribbon ribbon-top-left"><span>Featured</span>
						</div>
						<!--ROOM IMAGE-->
						<div class="r1 r-com"><img src="../assets/images/hom-resize.png" alt="" />
						</div>
						<!--ROOM RATING-->
						<div class="r2 r-com">
							<div class="r2-ratt"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <img src="images/h-trip.png" alt="" /> <span>Excellent  4.6 / 5</span> </div>
							<h4>1 ON 1</h4>
							<p>R4 000 per 10 sessions</p>
						</div>
						<!--ROOM AMINITIES-->
						<div class="r3 r-com">
							
						</div>
						<!--ROOM PRICE-->
						<div class="r4 r-com">
							<h4>2 ON 1</h4>
							<p>R6000 per 10 sessions</p>
						</div>
					
						<div class="r5 r-com">
							<div class="r2-available">Available</div>
							<p>Sign up</p> <button onclick="handleAuthClick()" class="authorize-button">Book with google</button> </div>
					</div>
					<div class="room">
						<div class="ribbon ribbon-top-left"><span>Featured</span>
						</div>
						<!--ROOM IMAGE-->
						<div class="r1 r-com"><img src="../assets/images/groupresize.jpg" alt="" />
						</div>
						<!--ROOM RATING-->
						<div class="r2 r-com">
							<div class="r2-ratt"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <img src="images/h-trip.png" alt="" /> <span>Excellent  4.7 / 5</span> </div>
							<h5>Pay three months</h5>
							<h5>and get three months</h5>
							<h5>of boxfit bootcamp</h5>
							<h5>by coach blessing</h5>


						</div>
						<!--ROOM AMINITIES-->
						<div class="r3 r-com">
						</div>
						<!--ROOM PRICE-->
						<div class="r4 r-com">
							<p><span class="room-price-1">Only R2700pm</span> <span class="room-price"></span>
							</p>
						</div>
						<!--ROOM BOOKING BUTTON-->
						<div class="r5 r-com">
							<div class="r2-available">Available</div>
							<p>Sign up</p> <button onclick="handleAuthClick()" class="authorize-button">Book with google</button> </div>
					</div>


						<!--Time table startts here-->
		
						<div class="table-heading"> 
							<h1>TIME TABLE</h1>
							<h4>(Boxfit bootcamp group classes time table)</h4>
							<h5>Note: Classes are to be held at Mygym 79 Roeland street</h5>
						</div>
					 
						                
                        <div class="timetable-container">
					
                            <div class="timetable">
                                <h2 class="related-articles-title">MONDAY</h2>
                                <h5>HIIT</h5>
                                (High Intensive Internal Training)<br>
                                18:30 - 19:30
                                <button id="authorize_button" class="authorize_button" onclick="handleAuthClick()">Book With Google</button>
                            </div>
                        
                            <div class="timetable">
                                <h2 class="related-articles-title">TUESDAY</h2>
                                <h5>BOXING</h5>
                                06:15 - 07:15
                                <button class="authorize_button" onclick="handleAuthClick()">Book With Google</button>
                            </div>
                        
                            <div class="timetable">
                                <h2 class="related-articles-title">WEDNESDAY</h2>
                                <h5>FULL BODY CONDITIONING</h5>
                                18:30 - 19:30
                                <button class="authorize_button" onclick="handleAuthClick()">Book With Google</button>
                            </div>
                        
                            <div class="timetable">
                                <h2 class="related-articles-title">THURSDAY</h2>
                                <h5>STRENGTH TRAINING</h5>
                                06:15 - 07:15
                                <button class="authorize_button" onclick="handleAuthClick()">Book With Google</button>
                            </div>
                        
                            <div class="timetable">
                                <h2 class="related-articles-title">FRIDAY</h2>
                                <h5>BOXING</h5>
                                18:30 - 19:30
                                <button class="authorize_button" onclick="handleAuthClick()">Book With Google</button>
                            </div>
						
                        </div>
					

					
					<!--END ROOM SECTION-->
					<!--ROOM SECTION-->
				</div>
				<div id="booking-form" class = "form">
					<label id = "dateIn" for="dateInput">Select Date:</label>
					<input type="date" id="dateInput" required/>
				  
					<label id="timeIn" for="timeInput">Select Time:</label>
					<input type="time" id="timeInput" required/>
					<label for="cellphone">Cellphone Number:</label>
					<input type="tel" id="cellphone" name="cellphone" placeholder="Enter your cellphone number" required>

					<input type="radio" id="monthly" name="service" value="1000">
						<label for="monthly">Monthly subscription:R1000</label><br>
						<input type="radio" id="student" name="service" value="Student :R850pm">
						<label for="student">Student :R850pm</label><br>  
						<input type="radio" id="dropin" name="service" value="150">
						<label for="dropin">Drop-in:R150 </label><br><br>
				  
				  <button id="bookButton" onclick="addEventToCalendar()">Book</button>
				  <!-- <span id="greenTick">&#10004;</span>  -->
			
				</div>
			</div>
			

			


		</div>
		<!--TOP SECTION-->
		<!--TOP SECTION-->
		
		<div class="hom-footer-section">
			<div class="container">
				<div class="row">
					<div class="foot-com foot-1">
						<ul>
							<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
							</li>
							<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
							</li>
						</ul>
					</div>
					<div class="foot-com foot-2">
						<h5>Phone: +27 78 758 9451</h5> </div>
					<div class="foot-com foot-3">
					<div class="foot-com foot-4">
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--END HEADER SECTION-->
	<footer class="site-footer clearfix">
		<div class="sidebar-container">
			<div class="sidebar-inner">
				<div class="widget-area clearfix">
					<div class="widget widget_azh_widget">
						<div>
							<div class="container">
								<div class="row">
									<div class="col-sm-12 col-md-3 foot-logo"> <img src="../assets/images/logo3.png" alt="logo">
										<p class="hasimg">Ready to push your self for better, join the best gym and travel community</p>
										<p class="hasimg">The top-rated gym and travel services.</p>
									</div>
									<div class="col-sm-12 col-md-3">
									</div>
									<div class="col-sm-12 col-md-3">
									</div>
								</div>
							</div>
						</div>
						<div class="foot-sec2">
							<div class="container">
								<div class="row">
									<div class="col-sm-12 col-md-3">
									</div>
									<div class="col-sm-12 col-md-4">
									</div>
									<div class="col-sm-12 col-md-5 foot-social">
										<h4>Follow with us</h4>
										<p>Join our socials</p>
										<ul>
											<li><a href="#!"><i class="fa fa-facebook" aria-hidden="true"></i></a> </li>
											<li><a href="#!"><i class="fa fa-twitter" aria-hidden="true"></i></a> </li>
											<li><a href="#!"><i class="fa fa-youtube" aria-hidden="true"></i></a> </li>
											<li><a href="#!"><i class="fa fa-whatsapp" aria-hidden="true"></i></a> </li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- .widget-area -->
			</div>
			<!-- .sidebar-inner -->
		</div>
		<!-- #quaternary -->
	</footer>
	<section class="copy">
		<div class="container">
			<p>This site belongs to BlessingFitnessTravelAndTours</p>
		</div>
	</section>
	<section>
		<!-- LOGIN SECTION -->
		<div id="modal1" class="modal fade" role="dialog">
			<div class="log-in-pop">
				<div class="log-in-pop-left">
					<h1>Hello... <span>{{ name }}</span></h1>
					<p>Don't have an account? Create your account. It's take less then a minutes</p>
					<h4>Login with social media</h4>
					<ul>
						<li><a href="#"><i class="fa fa-facebook"></i> Facebook</a>
						</li>
						<li><a href="#"><i class="fa fa-google"></i> Google+</a>
						</li>
						<li><a href="#"><i class="fa fa-twitter"></i> Twitter</a>
						</li>
					</ul>
				</div>
				<div class="log-in-pop-right">
					<a href="#" class="pop-close" data-dismiss="modal"><img src="images/cancel.png" alt="" />
					</a>
					<h4>Login</h4>
					<p>Don't have an account? Create your account. It's take less then a minutes</p>
					<form class="s12">
						<div>
							<div class="input-field s12">
								<input type="text" data-ng-model="name" class="validate">
								<label>User name</label>
							</div>
						</div>
						<div>
							<div class="input-field s12">
								<input type="password" class="validate">
								<label>Password</label>
							</div>
						</div>
						<div>
							<div class="s12 log-ch-bx">
								<p>
									<input type="checkbox" id="test5" />
									<label for="test5">Remember me</label>
								</p>
							</div>
						</div>
						<div>
							<div class="input-field s4">
								<input type="submit" value="Login" class="waves-effect waves-light log-in-btn"> </div>
						</div>
						<div>
							<div class="input-field s12"> <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal3">Forgot password</a> | <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal2">Create a new account</a> </div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- REGISTER SECTION -->
		<div id="modal2" class="modal fade" role="dialog">
			<div class="log-in-pop">
				<div class="log-in-pop-left">
					<h1>Hello... <span>{{ name1 }}</span></h1>
					<p>Don't have an account? Create your account. It's take less then a minutes</p>
					<h4>Login with social media</h4>
					<ul>
						<li><a href="#"><i class="fa fa-facebook"></i> Facebook</a>
						</li>
						<li><a href="#"><i class="fa fa-google"></i> Google+</a>
						</li>
						<li><a href="#"><i class="fa fa-twitter"></i> Twitter</a>
						</li>
					</ul>
				</div>
				<div class="log-in-pop-right">
					<a href="#" class="pop-close" data-dismiss="modal"><img src="images/cancel.png" alt="" />
					</a>
					<h4>Create an Account</h4>
					<p>Don't have an account? Create your account. It's take less then a minutes</p>
					<form class="s12">
						<div>
							<div class="input-field s12">
								<input type="text" data-ng-model="name1" class="validate">
								<label>User name</label>
							</div>
						</div>
						<div>
							<div class="input-field s12">
								<input type="email" class="validate">
								<label>Email id</label>
							</div>
						</div>
						<div>
							<div class="input-field s12">
								<input type="password" class="validate">
								<label>Password</label>
							</div>
						</div>
						<div>
							<div class="input-field s12">
								<input type="password" class="validate">
								<label>Confirm password</label>
							</div>
						</div>
						<div>
							<div class="input-field s4">
								<input type="submit" value="Register" class="waves-effect waves-light log-in-btn"> </div>
						</div>
						<div>
							<div class="input-field s12"> <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal1">Are you a already member ? Login</a> </div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- FORGOT SECTION -->
		<div id="modal3" class="modal fade" role="dialog">
			<div class="log-in-pop">
				<div class="log-in-pop-left">
					<h1>Hello... <span>{{ name3 }}</span></h1>
					<p>Don't have an account? Create your account. It's take less then a minutes</p>
					<h4>Login with social media</h4>
					<ul>
						<li><a href="#"><i class="fa fa-facebook"></i> Facebook</a>
						</li>
						<li><a href="#"><i class="fa fa-google"></i> Google+</a>
						</li>
						<li><a href="#"><i class="fa fa-twitter"></i> Twitter</a>
						</li>
					</ul>
				</div>
				<div class="log-in-pop-right">
					<a href="#" class="pop-close" data-dismiss="modal"><img src="images/cancel.png" alt="" />
					</a>
					<h4>Forgot password</h4>
					<p>Don't have an account? Create your account. It's take less then a minutes</p>
					<form class="s12">
						<div>
							<div class="input-field s12">
								<input type="text" data-ng-model="name3" class="validate">
								<label>User name or email id</label>
							</div>
						</div>
						<div>
							<div class="input-field s4">
								<input type="submit" value="Submit" class="waves-effect waves-light log-in-btn"> </div>
						</div>
						<div>
							<div class="input-field s12"> <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal1">Are you a already member ? Login</a> | <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal2">Create a new account</a> </div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!--ALL SCRIPT FILES-->
	<script src="js/jquery.min.js"></script>
	<script src="js/jquery-ui.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/bootstrap.js" type="text/javascript"></script>
	<script src="js/materialize.min.js" type="text/javascript"></script>
	<script src="js/jquery.mixitup.min.js" type="text/javascript"></script>
	<script src="js/custom.js"></script>
	<script src="bookScript.js"></script>
	<script async defer src="https://apis.google.com/js/api.js" onload="gapiLoaded()"></script>
    <script async defer src="https://accounts.google.com/gsi/client" onload="gisLoaded()"></script>
</body>

</html>