@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
  --primary: #000000;
  --secondary: #FDC941ff;
  --tertiary: #EA1E23ff;
  --primaryred: #EA1E23ff;
  --primary-grey: #B9B9B8ff;
  --blacktransgradient: linear-gradient(to top,
      var(--foreground),
      transparent);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;

  main {
    overflow: hidden;
  }

  h1,
  h2 {
    text-wrap: balance;
  }
}

.hero-image {
  animation: zoomInOut 20s infinite ease-in;
}

.hero-image::after,
.subhero::after {
  left: 0;
  position: absolute;
  content: "";
  background: var(--blacktransgradient);
  width: 100%;
  height: 100vh;
}

.easy {
  color: lime;
}

.moderate {
  color: orangered;
}

.hard {
  color: red
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.3);
  }
}

.timetable {
  flex: 0 0 calc(30% - 20px);
  background-color: #ffffff;
  border: 1px solid #ddd;
  width: 100%;
  min-height: 250px;
  transition: 0.25s ease-in-out;
}

.timetable h2 {
  border-bottom: 1px solid #1a1a1a;
}


.timetable-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0 20px;
}

.timetable:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transform: translateY(-1px);
}

.custom-img {
  background-image: url("/images/Fitness/Fitness02.jpeg");
}

.table-heading {
  background-color: rgba(0, 0, 0, 0.4);
  /* background-color: rgba(221, 221, 221, 0.7); */
  width: 100%;
  z-index: 1;
}


.video-overlay {
  background-color: rgba(0, 0, 0, 0.2);
}

.zoomImg {
  overflow: hidden;
  transition: 0.35s ease-in-out;
}

.zoomImg>img {
  transition: 0.35s ease-in-out;
}

.zoomImg:hover>img {
  transform: scale(1.2);
}