@keyframes slide {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes pslide {
    from {
        transform: translateX(-20%);
    }

    to {
        transform: translateX(-480%);
    }
}

.logos {
    overflow: hidden;
    padding: 60px 0;
    /* background: white; */
    white-space: nowrap;
    position: relative;
    width: 100%;
}

.logos:before,
.logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
}

.logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos:hover .logos-slide {
    animation-play-state: paused;
}

.logos-slide,
.paragraph-slide {
    display: inline-block;
}

.logos-slide {
    animation: 35s slide infinite linear;
}


.paragraph-slide {
    display: flex;
    align-items: center;
    gap: 30px;
    animation: 35s pslide infinite linear;
    padding-top: 30px;
}

.logos-slide img {
    height: 100px;
    margin: 0 40px;
}

.paragraph-slide>p,
.paragraph-slide>span {
    color: rgba(128, 128, 128, 0.15);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 42px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.paragraph-slide>span {
    transform: translateY(-5px);
}