/*
Author: XpeedStudio
Author URI: http://themeforest.net/user/XpeedStudio/portfolio
*/
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html,
body {
    color: #565656;
    background-color: #ffffff;
    font-size: 15px;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'open_sansregular';
    font-weight: 300;
    overflow-x: hidden;
}

@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

:target {
    scroll-margin-top: 1rem;
}

body {
    scroll-behavior: smooth;
}

/*==========================================
PRE LOADER 
==========================================*/

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fefefe;
    z-index: 99999;
    height: 100%;
    width: 100%;
    overflow: hidden !important;
}

.loaded {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(../images/preloading.gif);
    background-repeat: no-repeat;
    background-position: center;
    -moz-background-size: cover;
    background-size: cover;
    margin: -20px 0 0 -20px;
}

img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-select: none;
    /* Prevent image selection */
    pointer-events: none;
    /* Prevent interactions, including dragging */
}

a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    outline: none;
    color: inherit;
}

a,
button,
a span {
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.margin-b {
    margin: 0 0 10px !important;
}

.about-button {
    background-color: #df2828;
    color: #ffffff;
    padding: 10px 20px;
    letter-spacing: 0%;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: fit-content;
    margin: 0 auto;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button {
    background-color: #df2828;
    color: #ffffff;
    padding: 10px 20px;
    margin: 0;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    position: absolute;
    bottom: 15px;

}

.button:hover,
.about-button:hover {
    background-color: rgba(255, 0, 0, 0.7);
    color: #ffffff;
}

.about-us-sect {
    text-wrap: balance;
    margin: 0 0 15px;
    padding: 0 20px;
}

.about-us-sect>h2 {
    text-transform: uppercase;
    font-size: 40px;
    color: #000000;
    font-weight: 500;
    line-height: normal;
}

.about-us-sect>h5 {
    color: grey;
    font-size: 22px;
    font-weight: 400;
    line-height: normal;
}


.about-us-sect>h5>span {
    font-weight: lighter;
}


.about-us-sect>* {
    text-align: left;
}

.cta-label {
    padding: 30px 0;
    margin: 30px 0;
    background-color: #fefefe;
}


.invert {
    flex-direction: row-reverse !important;
}

.item {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btn.extra-width {
    padding: 13px 40px;
}

.btn:focus,
.btn:active {
    outline: inherit;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
}

p {
    margin: 0 0 15px;
}

.clear {
    clear: both;
}

ol,
ul {
    list-style: none;
    padding: 0;
}

img {
    max-width: 100%;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    outline: none;
}

.form-control {
    border: 1px solid rgba(0, 0, 0, 0.08);
    font-size: 16px;
    height: 45px;
}

.form-control:focus {
    border-color: #f56363;
}

h1,
h2,
h3 {
    font-family: 'Lane', sans-serif;
    font-weight: 300;
    margin: 0;
}

h4,
h5 {
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    margin: 0;
    line-height: 2rem;
}

h1 {
    font-size: 3rem;
    font-weight: 300;
    line-height: inherit;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: .9rem;
    line-height: inherit;
}

h3 {
    font-weight: 300;
    margin-bottom: .9rem;
    line-height: 2.5rem;
    padding-top: 20px;
    margin: 20px;
}

h4 {
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-bottom: 1.1rem;
}

h5 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

h6 {
    font-size: 1rem;
    margin-bottom: .9rem;
}

p {
    line-height: 1.5rem;
    font-size: 1.1rem;
    color: #131a20;

}

.merch-prices {
    font-size: 1.1rem;
    color: #ffffff;

}

.merch-headings {

    color: #830000;

}

p:last-child {
    margin-bottom: 0px;
}

.home-welcome h4 {
    border-bottom: 1px solid #3e3e3e;
    /* You can adjust the color and thickness as needed */
    padding-bottom: 20px;
    /* Adjust the padding as needed to control the distance between text and border */

}

/*.home-wrap h1,*/
.home-wrap h2,
.home-wrap h3,
.home-wrap h4,
.home-wrap h5,
.home-wrap p {
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
}

.colorstext {
    color: #f56363;
}

.coloricon i {
    color: #f56363;
}

.colorsbg {
    background: #f56363;
    color: #ffffff;
}

.colorsbg .separator2 {
    border: 2px solid;
}

.colorsbg .separator_wrap::after,
.colorsbg .separator_wrap::before {
    background-color: #ffffff;
}

.lightbg {
    background-color: #f9f9f9;
}

.transition {
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}

/*
Section
*/
.sections {
    padding: 50px 0;
    position: relative;
    overflow: hidden;
}

footer {
    padding: 40px 0;
    width: 100%;
}

section .subtitle h5 {
    margin-top: 10px;
    font-size: 1.3rem;
    font-family: 'Quicksand', sans-serif;
}

.parallax-section {
    max-width: 100%;
    color: #ffffff;
}

section .title-half h2 {
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 300;
    margin-bottom: 1.4rem;
}

section .subtitle-half h5 {
    font-weight: 100;
    font-size: 17px;
}

section:nth-of-type(odd) {
    background-color: #F9F9F9;
}

.fw-special-title-half {
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 100;
    /*    margin-bottom: 10px;*/
}

.heading {
    margin-bottom: 4rem;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    min-height: 750px;
}

.overlay-fluid-block {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
}

.home-overlay-fluid {
    background-color: rgba(41, 41, 41, 0.68);
    width: 80%;
    margin: auto;
}

.overlay-img {
    background: rgba(194, 201, 204, 0.3);
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    color: #ffffff;
}

.no-padding {
    padding: 0 !important;
}

.fluid-blocks-col {
    padding: 70px 40px 0 80px;
}

.fluid-blocks-col-right {
    padding: 70px 80px 0 40px;
}

/*
Extra height css
*/
.margin-top-20 {
    margin-top: 20px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-top-40 {
    margin-top: 40px;
}

.margin-bottom-40 {
    margin-bottom: 40px;
}

.margin-top-60 {
    margin-top: 60px;
}

.margin-80 {
    margin-top: 80px;
    margin-bottom: 80px;
}

.margin-bottom-60 {
    margin-bottom: 60px;
}

.margin-top-80 {
    margin-top: 80px;
}

.margin-bottom-80 {
    margin-bottom: 80px;
}

.padding-top-20 {
    padding-top: 1.33rem;
}

.padding-bottom-20 {
    padding-bottom: 1.33rem;
}

.padding-top-40 {
    padding-top: 2.66rem;
}

.padding-bottom-40 {
    padding-bottom: 2.66rem;
}

.padding-top-60 {
    padding-top: 5rem;
}

.padding-bottom-60 {
    padding-bottom: 5rem;
}

.padding-bottom-0 {
    padding-bottom: 0;
}

/*padding*/
.padding-twenty {
    padding: 10px 0;
}

.padding-fourty {
    padding: 20px 0;
}

.padding-sixty {
    padding: 30px 0;
}

.padding-eighty {
    padding: 40px 0;
}


/*for placeholder changes*/

/*input::-webkit-input-placeholder {
  color: #CACACA;
  font-size: 18px;
}
input::-moz-placeholder {
  color: #CACACA;
  font-size: 18px;
}
input:-ms-input-placeholder {
  color: #CACACA;
  font-size: 18px;
}*/

/*for image bg*/


.home-bg {
    background: url(../images/Home-image.jpeg) no-repeat center top fixed;
    min-height: 700px;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    overflow: hidden;
}

.mainmenu>.navbar-default {
    background-color: transparent;
    border-color: transparent;
    display: flex;
    align-items: center;
}

.mainmenu .navbar-brand {
    padding: 0px 0px;
}

.navbar-brand img {
    padding-top: 15px;
    padding-left: 15px;
}

.navbar-nav {
    padding-top: 15px;
    display: flex;
    align-items: center;
}

.mainmenu .navbar-nav li .active {
    color: #fa5c65;
}

.mainmenu .navbar-nav li a {
    color: #263742;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    transition: .3s ease-in-out;
}

.mainmenu .navbar-nav li a:hover {
    color: #fa5c65;
}

.mainmenu.menu-bg {
    background: #c8ced0;
    color: #c8ced0;
}

.mainmenu .navbar-nav li a i {
    color: #fa5c65;
    font-size: 18px;
    transition: .3s ease-in-out;
}

.mainmenu .navbar-nav li a i:hover {
    color: #263742;
}


.home-bg .header-details {
    padding-top: 220px;
    color: #314a5b;
}

.home-bg .header-details h1 {
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
    font-size: 48px;
    margin-bottom: 20px;
    line-height: 55px;
}

.home-bg .header-details h1 i {
    font-size: 7px;
    color: #fa5c65;
}

.home-bg .header-details p {
    font-size: 20px;
    color: #314a5b;
}




.btn-default {
    border-color: transparent;
}



.promotion a h4 {
    text-transform: uppercase;
    font-size: 15px;
    color: #fa5c65;
}

.promotion a h4:hover {
    color: rgb(255, 255, 255);
}

.promotion h4 span i {
    padding-left: 5px;

}

.portfolio {
    color: #3e0000;
    overflow: hidden;
}


.portfolio h1 {
    text-transform: uppercase;
    font-size: 26px;
    margin-bottom: 15px;
    font-family: 'Quicksand', sans-serif;
}

.portfolio h1 i {
    font-size: 5px;
    color: #960007;
}

.portfolio a h4 {
    text-transform: uppercase;
    font-size: 14px;
    color: #ffffff;
    font-family: 'montserratregular';
}

.portfolio h5 {
    font-size: 16px;
}

.portfolio h4 span i {
    padding-left: 5px;

}

.cards-container {
    width: 100%;
    /* background-color: #fefefe; */
    padding: 15px 0px;
    position: relative;
}

.overlay {
    transform: translateY(100%);
    content: '';
    background-color: black;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: transform 0.25s ease-in-out;
}

.overlay:hover {
    transform: translateY(0%);
}

.cards-container:hover {
    /* background-color: #fff; */
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
}

.cards-container:hover>.overlay {
    transform: translateY(0%);
}

.cards-container>.item {
    width: 100%;
}

.cards-container>.item a {
    gap: 5px;
}


.portfolio .item {
    transition: transform 0.25s ease-in-out;
    margin: 10px 0px;
    padding: 15px 0px;
    border: 1px solid black;
    height: 750px;
    border-radius: 15px;
}

.item-content>h5 {
    font-size: 40px;
    line-height: normal;
    text-transform: uppercase;
    text-wrap: balance;
    font-weight: 500;
}

.item-content>h5>span {
    font-weight: lighter;
}

.item-content>p {
    color: grey;
    font-size: 22px;
    line-height: normal;
    font-weight: 400;
    font-family: 'roboto', sans-serif !important;
}

.item-content>* {
    text-align: left;
}

.team-heading {
    margin-top: 40px;
    border: #0064a7 5px;
    font-display: color=blue;
}

.team-heading h1 {
    text-transform: uppercase;
    font-size: 26px;
    margin-bottom: 15px;
    font-family: 'montserratbold';
}

.team-heading h1 i {
    font-size: 7px;
    color: #fa5c65;
}

.team-heading h5 {
    font-size: 15px;
}

.team img {
    float: left;
    margin-right: 20px;
}

.team .team-info h2 {
    text-transform: uppercase;
    font-size: 22px;
    font-family: "montserratbold";
    margin-bottom: 0;
}

.team .team-info h5 {
    font-size: 14px;
    color: #ffffff;
    margin-bottom: 0;
    font-weight: bold;
}

.team .team-info p {
    font-size: 14px;


}

.team-more {
    padding-top: 72px;
    float: right;
}

.team-more a h4 {
    text-transform: uppercase;
    font-size: 15px;
    color: #fa5c65;
}

.team-more a h4:hover {
    color: pink;
}

.team-more h4 span i {
    padding-left: 5px;

}

.footer-inner-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


.social-network {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
}

.social-network a i {
    /* margin: 10px; */
    color: #b2b2b2;
    font-size: 20px;
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
}

.social-network a i:hover {
    color: #fa5c65;
}

.copyright {
    display: flex;
    align-items: center;
}

.copyright p {
    font-size: 13px;
    color: #b9c0c6;
    text-align: left;
}

.scrollup {
    width: 40px;
    height: 40px;
    text-align: center;
    color: #fa5c65;
    font-size: 30px;
    background: #c8cfd0;
    position: fixed;
    bottom: 100px;
    right: 50px;
    font-weight: bold;
}


/* booking page */
.special-pricing {
    background-color: #ffffff;
    /* Background color for the special pricing div */
    color: #333;
    text-align: center;
    border-bottom: #000000 2px;
    position: relative;
}

.special-pricing img {
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    height: auto;
    max-height: 40vh;
    margin: 50px 0 0;
}

@keyframes switch {
    from {
        border: red 4px dashed;
    }

    to {
        border: transparent 4px dashed;
    }

}

.promotion-card-container {
    display: flex;
    justify-content: center;
    padding: 0 20px;
}

.promotion-card {
    border-radius: 10px;
    padding: 20px 30px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: 30px 20px 0;
    flex-direction: column;
    gap: 2.5px;
    text-wrap: balance;
    animation: switch 1s infinite ease-in-out;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.promotion-card>h2 {
    color: #000000;
}

.promotion-card>p {
    color: gray;
}


.Booking {
    padding-top: 110px;
    width: 80%;
    margin-left: 10%;
}

.room {
    position: relative;
    overflow: hidden;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 25px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.anchor_adj {
    padding-top: 60px;
    margin-top: -40px;
}

.r-com {

    width: 20%;
    float: left;
    padding: 10px;
}

.r2 {
    border-right: 1px solid #d1d1d1;
}

.r3 {
    border-right: 1px solid #d1d1d1;
}

.exercise_table {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 0 40px;
}

table {
    width: 90%;
    border-collapse: collapse;
    margin-top: 60px;
    /* margin-left: 50px; */
}

th,
td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f5f5f5;
}



.main-nav .navbar-nav {
    float: none;
    /* Ensures that the menu items are not floated to the right */
    background-color: bisque;
}

.main-nav .navbar-nav>li {
    display: inline-block;
    /* Display menu items inline */
    float: none;
    /* Remove any residual float */
}

.main-nav .navbar-toggle {
    margin-right: 15px;
    /* Adjust the margin to provide spacing from the logo */
}

.main-nav .navbar-brand {
    float: none;
    /* Remove float from the logo */
}



.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center horizontally */
    text-align: center;
    /* Center text within each div */
    margin: 20px;
    /* Add margin for spacing between divs */
    margin-left: 180px;
}

.authorize_button {
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    align-items: center;
    border-radius: 3px;
}

.container {
    width: 100%;
}

.form {
    max-width: 250px;
    /* Set a maximum width for the form container */
    margin: 0 auto;
    /* Center the form horizontally */
    padding: 20px;
    /* Add some padding to the form */
    border: 1px solid #ccc;
    /* Add a border for visual separation */
    background-color: #f9f9f9;
    /* Add a light background color */
    padding: 10px;
    width: 100%;
    margin: 10px;
    border: 2px solid rgb(8, 7, 7);
    margin-left: 300px;

}


.body_adventures {

    background-color: #0073e6;
    margin-top: 250px;

}


.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center horizontally */
    justify-content: center;
    /* Center vertically */
    margin-top: 2px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 10px;
    width: 70%;
    border: 1px solid #ccc;
}


.promotional-package {
    align-items: center;


}

.pricelist {
    /* Equal width for all items */
    flex: 1;
    padding: 20px;
    border: 1px solid #e0e0e0;
    /* Light gray border for a professional look */
    text-align: center;
    margin: 10px;
    display: flex;
    flex-direction: column;
    /* Stack content vertically */
    justify-content: space-between;
    /* Push button to the bottom */
    background-color: #f7f7f7;
    /* Light background color */
    border-radius: 5px;
    padding: 20px;
    /* Add padding for spacing and decoration */
    border: 1px solid #ccc;
    /* Add borders for decoration */
    text-align: center;
    /* Center the content horizontally */
    margin: 10px;
    /* Add margin for spacing between items */
}





* {
    box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
    width: 100%;
    height: 650px;
    position: relative;
    padding-top: 50px;
    /* background-color: #90c6ff; */
}


/*for the Aout page*/
.overlay-par {
    position: absolute;
    top: 450PX;

    background-color: rgba(255, 123, 123, 0.7);
    color: rgb(136, 136, 136);
    /* Background color for the text */
    /* Text color */
    padding: 5px 10px;
    /* Adjust padding as needed */
    /* height: 200px; */

}

.overlay-par p {
    color: #000000;

}

.left_align {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 !important;
}

.left_align a {
    display: flex;
    margin: 0 !important;
}

.overlay-text {
    position: absolute;
    top: 10PX;
    left: 20PX;
    background-color: rgba(0, 0, 0, 0.7);
    /* Background color for the text */
    color: white;
    /* Text color */
    padding: 15px 10px;

}

.image-container {
    position: relative;
    display: inline-block;
    /* Ensures the container fits the image size */
}



/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    text-shadow: rgb(161, 0, 0);
    font-weight: bold;
    font-size: 18px;
    transition: 1s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}





/* Caption text */
.text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #000000;
    font-size: 40px;
    padding: 8px 12px;
    font-weight: 400;
    position: absolute;
    display: block;
    bottom: 0px;
    width: 100%;
    text-align: center;
    background-color: #ffffff;
    margin-bottom: 50px;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #ff0000;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    /* background-color: #bbb; */
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

/* .active, .dot:hover { */
/* background-color: #717171; */
/* } */

/* Fading animation */
.fade {
    animation: fade 1.25s ease-in;
}

@keyframes fade {
    0% {
        opacity: 0.5;
        transform: scale(0.99);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}



.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    color: white;
    padding-top: 5px;
}

/*
Working on the Heading in home page
*/

.Home-page-heading h2 {

    padding-left: 20px;
    margin-left: 20px;
    background-color: #000000;
}








/* Add additional styling as needed */
.related-articles-title {
    font-size: 24px;
    margin-bottom: 10px;
}




h5 {
    font-size: 18px;
}

.authorize_button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}



.authorize_button {
    margin-top: auto;
    /* Adjust the margin as needed */
}

.adventure-activ {
    margin: 30px auto;
}



.price-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about-container-content {
    margin: 45px 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    text-wrap: balance;
    max-width: 80%;
}

.about-container-content>* {
    text-align: left;
}

.about-container-content p {
    font-size: large;
    line-height: normal;
}

.about-container-content h2 {
    margin: 0 !important;
}

.price-container-content {
    margin: 60px 50px 20px;
}


.price-container-content p {
    font-size: large;
    line-height: normal;
    margin: 20px 10px;
}


.related-articles-title {
    font-size: 24px;
    margin-bottom: 10px;
    color: #a94442;
    ;
    /* Dark gray text color */
}

h5 {
    font-size: 18px;
    color: #131a20;
    /* Professional blue for headings */
}

.authorize_button {
    background-color: #0073e6;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: auto;
    /* Push the button to the bottom */
}


.bullet-line {
    position: absolute;
    top: 20px;
    right: 10px;
    border-left: 2px solid #ccc;
    height: 24px;
}

.package-options {
    margin-top: 20px;
}


.container {
    text-align: center;
    margin: 0 auto;
}

.containershopping {
    text-align: center;
    margin: 0 auto;
    background-color: #000000;
}

/*Here we dealing with the Gallery*/

.galleray {
    height: 200px;
    width: 500px;
    margin: 100px auto;
    position: relative;
    margin-top: 150px;

}

.gallery-adventures {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.gallery-item {
    width: 200px;
    height: 200px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery-item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

/* 3 images */
img:nth-last-child(3):first-child {
    offset-distance: 17%;
}

img:nth-last-child(2):nth-child(2) {
    offset-distance: 49%;
}

img:last-child:nth-child(3) {
    offset-distance: 81%;
}

/* 4 images */
img:nth-last-child(4):first-child {
    offset-distance: 10%;
}

img:nth-last-child(3):nth-child(2) {
    offset-distance: 35%;
}

img:nth-last-child(2):nth-child(3) {
    offset-distance: 65%;
}

img:last-child:nth-child(4) {
    offset-distance: 90%;
}

/* 5 images */
img:nth-last-child(5):first-child {
    offset-distance: 0%;
}

img:nth-last-child(4):nth-child(2) {
    offset-distance: 25%;
}

img:nth-last-child(3):nth-child(3) {
    offset-distance: 51%;
}

img:nth-last-child(2):nth-child(4) {
    offset-distance: 75%;
}

img:last-child:nth-child(5) {
    offset-distance: 100%;
}



/*============FITNESS=======================*/

/* Apply a background color to the fitness body */
/* Style the fitness body */
.fitness-body {
    margin-top: 0px;
    background-color: inherit;
    text-align: center;
}

/* Style the heading */
.fitness-heading {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}

/* Style the specials section */
.specials-fitness {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.specials-fitness h1 {
    font-size: 24px;
    color: #333;
}

.specials-fitness h4 {
    font-size: 18px;
    color: #777;
}

.specials-fitness p {
    font-size: 16px;
    color: #555;
    margin-top: 10px;
}

/* Style the "FIND OUT MORE" button */
/* Specials Fitness Row */
.specials-fitness-row {
    background-color: #f2f2f2;
    /* Background color for the Specials Fitness row */
    padding: 20px;
    margin: 20px auto;
    /* Add padding to create separation */
}

.fitness-container {
    background-color: #f2f2f2;
}

.specials-fitness {
    border: 1px solid #ddd;
    /* Add a border around the Specials Fitness content */
    padding: 20px;
    /* Add padding to the Specials Fitness content */
}

.fitness-cta {
    /* margin: 50px auto 0; */
    padding: 60px 30px;
}

.fitness-cta .about-button {
    margin: 25px auto 0;
}



/* Prices Boxes Row */
.prices-boxs-row {
    background-color: #fff;
    /* Background color for the Prices Boxes row */
    padding: 50px 60px;
    margin: 0 auto;
    text-wrap: balance;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* Add padding to create separation */
}

.prices-boxs-row .about-button {
    margin: 25px auto 0;
}

.prices-boxs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Style for each box */
.box {
    background-color: #fff;
    /* Background color for boxes */
    border: 1px solid #ddd;
    /* Add a border around each box */
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    width: calc(33.33% - 20px);
    box-sizing: border-box;
}

/* Add styles for headings, buttons, and other elements as needed */
.box h4 {
    font-size: 20px;
    color: #333;
}

.box h6 {
    font-size: 24px;
    color: #555;
    margin-top: 10px;
}

.box button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
}

.box button:hover {
    background-color: #555;
}


/* Styles for the dropdown content (menu links) */
.dropdown-content ul {
    list-style: none;
    /* Remove default list bullets */
    padding: 0;
    /* Remove default list padding */
}

/* Style for individual list items */
.dropdown-content ul li {
    margin-bottom: 10px;
    /* Add spacing between list items */
}

/* Style for anchor links within list items */
.dropdown-content ul li a {
    text-decoration: none;
    /* Remove underlines from links */
    color: #d49a9a;
    /* Set link color */
    font-size: 16px;
    /* Adjust link text size */
    transition: color 0.3s;
    /* Add a color transition effect */
}

/* Style for anchor links on hover */
.dropdown-content ul li:hover {
    color: #007BFF;
    /* Change link color on hover */
}


/* Styles for the mobile menu icon */
/* CSS for smaller screens (e.g., mobile) */
@media (max-width: 768px) {

    .hiking-container {
        text-align: left;
        padding: 0 20px;
    }

    .anchor_snap {
        padding: 100px 0 0 !important;
    }

    .list-holder {
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 15px !important;
        margin: 5px 0;

    }

    .list-holder>a {
        text-wrap: balance;
        text-align: left;
    }

    .list-holder>* {
        font-family: Arial, Helvetica, sans-serif !important;
        /* font-family: Verdana, Geneva, Tahoma, sans-serif !important; */
    }

    .hiking-card-container {
        padding: 0px 50px 80px !important;
    }

    .hiking-card,
    .reverse {
        flex-direction: column !important;
        gap: 50px;
    }

    .invert {
        flex-direction: column !important;
    }

    .hiking-card {
        /* display: flex; */
        /* align-items: center; */
        /* gap: 50px; */
        width: 100%;
    }

    .gallery-adventures {
        flex-direction: column;
    }

    .gallery-item {
        width: 50%;
    }

    .item {
        display: flex;
        flex-direction: column;
    }

    .about-image img {
        height: 300px !important;
    }

    /* Hide the desktop menu */
    .nav-links {
        display: none;
    }

    /* Show the mobile menu and style the hamburger icon */
    .mobile-menu {
        display: block;
    }

    /* Style the hamburger menu icon (you can customize this further) */
    .menu-icon {
        display: block;
        cursor: pointer;
    }

    /* Style the dropdown content (you can customize this further) */
    .dropdown-content {
        display: none;
        background-color: #e7e7e7;
        position: absolute;
        top: 50px;
        /* Adjust the top position as needed */
        right: 0;
        z-index: 1;

    }

    .dropdown-content ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .dropdown-content ul li {
        padding: 1px;


    }

    /* Show the dropdown content when the menu icon is clicked */
    .menu-icon.active+.dropdown-content {
        display: flex;
    }

    .dropdown-content ul li a:hover {
        color: aqua;
    }


}

.gallery {
    padding: 50px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    /* justify-content: space-between; */
}

.video-container {
    margin: 15px 0;
}

.adventure-heading {
    margin: 120px 50px 0;
}

.activities-image {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 20px;
    box-sizing: border-box;
    text-align: center;
}

.img_container {
    overflow: hidden;
    transition: 0.35s ease-in-out;
}

.img_container>img {
    transition: 0.35s ease-in-out;
}

.img_container:hover>img {
    transform: scale(1.2);
}

.activities-image h3,
.activities-image p {
    text-align: center;
}

.activities-image>p {
    margin: 15px 25px 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}

.adventure-image {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 20px;
    box-sizing: border-box;
    text-align: center;
    transition: 0.35s ease-in-out;
    /* Center-align text within each adventure-image */
}

.adventure-image img {
    width: 100%;
    height: auto;
}

.adventure-image:hover {
    transform: scale(1.1);
}

/* Center-align h3 and p elements */
.adventure-image h3,
.adventure-image p {
    text-align: center;
}

.adventure-image>p {
    margin: 15px 25px 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}

.adventures-head {
    padding-top: 150px;
    text-align: center;
}


/* Style for the WhatsApp button */
.whatsapp-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #25d366;
    /* WhatsApp green color */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.whatsapp-button:hover {
    background-color: #128C7E;
    color: #fff;
    /* Darker WhatsApp green color on hover */
}

.hero-heading-container {
    position: absolute;
    display: block;
    text-wrap: balance;
    max-width: 80%;
    bottom: 0;
    left: 0;
    margin: 15px;
}

.hero-heading-container>h1,
.hero-heading-container>h5 {
    text-align: left;
    color: #fff;
    text-shadow: #000000 0.5px;
}

.about-container-paragraph {
    padding: 40px 26px;
    background-color: #191919;
}



.about-container-paragraph>p {
    color: white;
    font-size: 28px;
    line-height: normal;
    letter-spacing: 0.08%;
    text-wrap: balance;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.fitness-container-section {
    background-color: #191919;
}

.fitness-container-section>.gallery>.adventure-image>p,
.fitness-container-section>.gallery>.adventure-image>h3 {
    color: #fff;
    text-wrap: balance;
}



/*==========ABOUT PAGE============

        /* Apply styles to the container */
/* Style timetable container */


.timetable-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0 20px;
    text-wrap: balance;
    /* margin-top: 80px; */
}

.about-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.about-image {
    flex: 1;
    padding: 20px;
}

.about-image img {
    object-fit: cover;
    height: 600px;
    width: 100%;
}


.about-content {
    text-align: left;
    /* Center-align the text content */
    display: flex;
    flex-direction: column;
    padding: 20px 40px 40px;
}

/* .about-content>* {
    text-align: left;
} */






/* Style individual timetable items */
.timetable {
    flex: 0 0 calc(30% - 20px);
    /* Adjust the width as needed */
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    min-height: 250px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.25s ease-in-out;
    border-radius: 12.5px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.timetable-image {
    z-index: 0;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    width: 100%;
    min-height: 250px;
    opacity: 0.15;
}



.timetable>*:not(.timetable-image) {
    z-index: 1;
    position: relative;
}

.timetable:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transform: translateY(-1px);
}

.timetable .about-button {
    margin: 0;
}

/* Style headings */
.timetable h2 {
    font-size: 18px;
    margin: 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #1a1a1a;
    text-align: center;
}

/* Style event details */
.timetable h5 {
    font-size: 16px;
    margin: 5px 0;
}

/* Style event time */
.timetable p {
    font-size: 14px;
    margin: 5px 0;
}

/* Style the "Book With Google" button */
.timetable>a {
    margin: 10px auto !important;
}

.table-heading {
    text-align: center;
    padding: 50px 30px 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.table-heading,
.timetable-container {
    background-color: #191919;
    padding: 30px 20px;
}

.table-heading>* {
    color: #fff;
}

/*----------------------shopping section-----------------*/

.shopping-section {
    width: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #000000;
    padding: 40px 15px;
}

.shopping-item {
    width: calc(25% - 20px);
    /* 3 items in a row with some spacing */
    padding: 20px;
    border: 1px solid rgb(77, 77, 77);
    text-align: center;
    border-radius: 10px;
    transition: transform 0.25s ease-in-out;
}

.shopping-item:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transform: translateY(-2px);
}


/*----------------------avout----------------*/


.hiking-header {
    padding: 0 20px;
}

.hiking-header>* {
    padding: 0 20px;
    text-wrap: balance;
}

.hiking-container {
    text-align: left;
    padding: 50px 100px;
}

.list-holder {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
    margin: 5px 0;
}

.list-holder>* {
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

.list-holder a:hover {
    transform: translateX(2px);
    color: #000000;
    /* opacity: 0.8; */
    font-weight: 500;
    transition: ease-in-out 0.25;
    padding: 10px 20px;
    background-color: rgba(128, 128, 128, 0.3);
    border-radius: 2px;
}

.easy {
    color: lime;
}

.moderate {
    color: orangered;
}

.hard {
    color: red
}


.hiking-card-container {
    padding: 0px 120px 80px;
}

.anchor_snap {
    padding: 150px 0 0;
}

.hiking-card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 100%;
}

.reverse {
    flex-direction: row-reverse;
}

.hiking-card-image {
    max-width: 500px;
    width: 100%;
    height: 300px;
    background-color: rgba(26, 26, 26, 0.3);
    border-radius: 25px;
}

.hiking-card-image>img,
.hiking-card-image>.mySlides>img {
    max-width: inherit;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    object-fit: cover
}

.hiking-card-image>.mySlides {
    max-width: inherit;
    width: inherit;
    height: inherit;
    border-radius: inherit;
}



.hiking-card-content {
    /* width: max-content; */
    /* max-width: 50%; */
}

.hiking-card-content>*,
.hiking-card-info>* {
    text-align: left;
}


.hiking-card-title {
    text-align: left;
    margin: 0;
    padding: 0;
    line-height: normal;
}

.hiking-card-title {
    font-weight: 700;
}

.hiking-card-location {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    opacity: 0.7;
    margin: 10px 0 15px;
}

.hiking-card-level {
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-size: medium;
    text-transform: capitalize;
}

.hiking-card-time,
.hiking-card-distance {
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    opacity: 0.7;
}


#content:target {
    display: block;
}

#content {
    display: none;
}




.main-header {
    margin: 50px 0 0px;

    h5 {
        margin: 10px auto;
        text-wrap: balance;
        line-height: normal;
    }
}

.fitness-header {
    padding: 30px 20px 0;
    text-transform: uppercase;
}

.fitness-header h2 {
    /* color: gold; */
    color: white;
    text-wrap: balance;
}

.fitness-header h5 {
    color: white;
}

.footer {
    border-top: 1px solid #ddd;
}