

/*
Author: XpeedStudio
Author URI: http://themeforest.net/user/XpeedStudio/portfolio
*/

/* Portrait tablets and medium desktops */
@media (min-width: 992px) {
    body {
        font-size: 15px;
    }
	/* .menu-icon{
		visibility: hidden;
	} */
	/* .dropdown-content{
		visibility: hidden;
	} */ 
}

/* Portrait tablets and small desktops */
@media  (max-width: 991px) {
    html {
        font-size: 90%;
    }
   .team-heading {
    text-align: center;
	}
	.team  img{
	float:none;
	margin-bottom:20px;
	}
	.team {
		text-align:center;
		margin-bottom:40px;
	}
	.team-more {
    text-align:center;
	float:none;
	margin-top:80px;
	}
	.dropdown-content{
		visibility: hidden;
	}
		
	¬
}



/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    html {
        font-size: 80%;
    }
	.home-bg .header-details h1 {
    font-size: 39px;

	}
	.menu-icon {
		margin: 10px;
		display: block;
		background-color: #3b3b3b;
		width: 50px;
		height:30px;
		position: fixed;
		top: 0; /* Optional: You can adjust the top position if needed */
		right: 0;
	}
    
	.promotion {
    margin-bottom: 30px;
    text-align: center;
	}
	.portfolio {
    margin-bottom: 30px;
    text-align: center;
	margin-top: 50px;
	}
	.video-container {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 aspect ratio (iframe's height/width ratio) */
        overflow: hidden;
    }

    .video-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
	
	.team-heading {
    text-align: center;
	}
	.team  img{
	float:none;
	margin-bottom:20px;
	}
	.team {
		text-align:center;
		margin-bottom:40px;
	}
	.team-more {
    text-align:center;
	float:none;
	margin-top:80px;
	}
	.dropdown-content{
		width: 100px;
	}
}


	/* Apply responsive styles for smaller screens */
	@media (max-width: 768px) {
		.timetable-container {
			display: flex;
			flex-direction: column;
			
		}	
	
		.timetable {
			margin-bottom: 20px; /* Add spacing between timetable items */
			width: 100%;
		}
	
		.shopping-section {
			text-align: center; /* Center align the content */
		}

    .shopping-item {
        width: 90%; /* Make each shopping item take up full width */
		height: 50%;
        margin-bottom: 20px; /* Add some spacing between items */
        float: none; /* Remove any floats */}
	.price-container {
			display: flex;
			flex-direction: column;
			align-items: center; /* Center items horizontally */
		}
	
	.pricelist {
			width: 100%; /* Make each pricelist item take up full width */
			margin-bottom: 20px; /* Add some spacing between items */
		}
	
	    .gallery {
			display: flex;
			flex-direction: column;
		}
	
		.adventure-image {
			margin: 20px; /* Add spacing between adventure images */
			width: 100%;
		}
		.menu-icon{
			background-color: rgb(0, 0, 0);
		}
}

   




/* Landscape phones and smaller */
@media (max-width: 480px) {
    html {
        font-size: 65%;
    }
	.home-bg .header-details h1 {
    font-size: 18px;
    line-height: 30px;
	}
	.home-bg .header-details p {
    font-size: 12px;
	}
	.portfolio {
    margin-bottom: 30px;
    text-align: center;
	
	}
	.team-heading {
    text-align: center;
	}
	.portfolio img {
    margin-left:0;
	}

}



@media (max-width: 320px) {


    html {
        font-size: 60.5%;
    }
	.team-heading {
    text-align: center;
	}
	
}

